VITE_SUI_NETWORK=testnet
VITE_SUI_GRAPHQL_URL=https://sui-testnet.mystenlabs.com/graphql
VITE_WORLD_API_URL=https://world-api-utopia.uat.pub.evefrontier.com
VITE_WORLD_PACKAGE=0xd12a70c74c1e759445d6f209b01d43d860e97fcf2ef72ccbbd00afd828043f75
VITE_BOUNTY_BOARD_PACKAGE=0x0
