node_modules/
.bun/
dist/
build/
coverage/
.turbo/
apps/oracle/.data/
oracle.db
.last_pub.txt
.env
.env.local
.env.*.local

contracts/**/build/
contracts/**/Move.lock
contracts/**/.package_lock
contracts/**/coverage/
contracts/**/.sui/
contracts/**/.deployment/*.local.json
contracts/**/Published.toml
contracts/**/last_pub.txt

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.log
