node_modules/
.bun/
dist/
build/
coverage/
.turbo/

.env
.env.local
.env.*.local

contracts/**/build/
contracts/**/.package_lock
contracts/**/coverage/
contracts/**/.sui/
contracts/**/.deployment/*.local.json

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.log
